bokeh==2.4.3
category_encoders==2.3.0
imbalanced_learn==0.12.0
joblib==1.4.2
matplotlib==3.8.4
numpy==1.23.5
pandas==2.0.3
plotly==5.17.0
requests==2.32.3
scikit_learn==1.2.2
shap==0.45.1
streamlit==1.30.0
streamlit_shap==1.0.2
